@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProRegular.eot');
    src: url('../fonts/GothamProRegular.eot') format('embedded-opentype'),
         url('../fonts/GothamProRegular.woff2') format('woff2'),
         url('../fonts/GothamProRegular.woff') format('woff'),
         url('../fonts/GothamProRegular.ttf') format('truetype'),
         url('../fonts/GothamProRegular.svg#GothamProRegular') format('svg');
	font-weight: 400;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProBold.eot');
    src: url('../fonts/GothamProBold.eot') format('embedded-opentype'),
         url('../fonts/GothamProBold.woff2') format('woff2'),
         url('../fonts/GothamProBold.woff') format('woff'),
         url('../fonts/GothamProBold.ttf') format('truetype'),
         url('../fonts/GothamProBold.svg#GothamProBold') format('svg');
	font-weight: 700;
}
/************************* reset *************************/
html{
	height: 100%;
	margin: 0;
	padding: 0;width: 100%;
	background: #fff;
}
body{
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	font-size:0.625em;
	font-weight: 400;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	line-height: 25px;
	min-width: 320px;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, p, ul, li, a, span, div, input, textarea, select, form, fieldset, button, dl, dd, dt, figure, figcaption, blockquote, caption, aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}
img {
	margin: 0;
	padding: 0;
	border-style: none;
	vertical-align: bottom;
	max-width: 100%;
}
input, textarea, select, button {
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	border: 0;
	outline: 0;
	background: none;
}
a:hover {text-decoration: none;}
ul li {list-style: none;}
/************************* common styles *************************/
.holder {
	/*max-width: 1440px;*/
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}
.holder:after {
	display: block;
	content: '';
	clear: both;
}
#header .holder, #footer .holder {
	max-width: 1440px;
}
h1 {
	margin: 0 0 81px;
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	margin: 0 0 81px;
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
}
h4 {
	margin: 0 0 24px;
	font-size: 1.8em;
}
article p {
	margin: 0 0 25px;
	font-size: 15px;
}
/************************* form styles *************************/
.input {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 17px;
	margin: 0 0 13px;
	color: #000;
	font-size: 18px;
	background: #fff;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.input:hover, .input:focus, .textarea:hover {border: 1px solid #b98f55;}
.textarea {
	display: block;
	width: 100%;
	height: 119px;
	padding: 11px 20px;
	margin: 0 0 13px;
	color: #000;
	font-size: 15px;
	background: #fff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.submit {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 0 1px;
	color: #fff;
	font-size: 18px;
	outline: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
	background: #b98f55;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.submit:hover {
	background: #c79858;
}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000; opacity: 1;}
::-moz-placeholder {color: #000; opacity: 1;}
:-ms-input-placeholder {color: #000;}
.input.error {
	color: rgb(255, 86, 71);
}
label.error {
	position: absolute;
	left: -9999px;
}
a.submit {
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}
.select-block select {width: 100%;}
/* Checkbox */
.checker {
	position: relative; 
	float: left;
}
.checker, .checker span, .checker input {
    display: block;
	width: 17px;
    height: 17px; 
	cursor: pointer;
}
.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
	cursor: pointer;
    text-align: center;
	background: url(../images/checkbox.png) 0 0 no-repeat; 
}
.checker span.checked {background-position: 0 -17px;}
.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; 
	display: block;
}
.check-block {
	overflow: hidden;
	margin: 0 0 18px;
}
.checkbox-label {
	display: block;
	margin: 0 0 0 29px;
	font-size: 1.4em;
	line-height: 18px;
	cursor: pointer;
}
.checker.disabled {opacity: 0.5;}
.checkbox-label a {
	color: #b98f55;
	text-decoration: none;
}
/************************* wrapper *************************/
#wrapper {
	position: relative;
	overflow: hidden;
}
/************************* fixed bars *************************/
.fixed-logo {
	float: left;
	padding: 16px 0 0;
}
.fixed-nav {
	margin: 0 0 0 35px;
}
.fixed-top {
	position: fixed;
	z-index: 200;
	top: -80px;
	left: 0;
	right: 0;
	height: 60px;
	background: #fff;
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.fixed-top.fixed {top: 0;}
.fixed-top .holder {max-width: 1440px;}
.fixed-nav ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.fixed-nav li {
	display: table-cell;
}
.fixed-nav li a {
	display: block;
	height: 60px;
	color: #000;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 60px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.fixed-nav li a:hover {
	color: #b98f55;
}
.fixed-nav .nav-gold a {
	color: #fff;
	background: #b98f55;
	 -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.fixed-nav .nav-gold a:hover {
	color: #fff;
	background: #b37f37;
}
.fixed-nav .nav-gold {width: 136px;}
.fixed-scroll-top {
	position: fixed;
	display: none;
	bottom: 107px;
	right: 37px;
	z-index: 200;
}
.fixed-scroll-top.fixed {display: block;}

.fixed-bot {
	position: fixed;
	z-index: 200;
	bottom: 0;
	left: 0;
	right: 0;
	height: 51px;
	background: #191516;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.fixed-bot.fixed {bottom: -80px;}
.fixed-webs {
	float: left;
	padding: 14px 0 0;
}
.fixed-web {
    float: left;
    width: 23px;
    height: 23px;
    margin: 0 4px 0 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.fixed-web:hover {opacity: 0.8;}
.fixed-web.web1 {background: url(../images/webs-min.png) 0 0 no-repeat;}
.fixed-web.web2 {background: url(../images/webs-min.png) -23px 0 no-repeat;}
.fixed-web.web3 {background: url(../images/webs-min.png) -46px 0 no-repeat;}
.fixed-web.web4 {background: url(../images/webs-min.png) -69px 0 no-repeat;}
.fixed-web.web5 {background: url(../images/webs-min.png) -92px 0 no-repeat;}
.fixed-web.web6 {background: url(../images/webs-min.png) -115px 0 no-repeat;}
.fixed-link {
	float: right;
	margin: 14px 0 0 50px;
}
.fixed-link a {
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
}
.fixed-link a:hover {text-decoration: underline;}
.fixed-link1 {
	padding: 0 0 0 31px;
	background: url(../images/i4.png) 0 2px no-repeat;
}
.fixed-link2 {
	padding: 0 0 0 30px;
	background: url(../images/i5.png) 0 3px no-repeat;
}
/************************* header *************************/
/************************* header mobile top *************************/
.header-mob {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	height: 80px;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
}

.header-mob .button{
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 10px 10px 5px;
	font-size: 11px;
	background: none;
	border: 1px solid white;
	color: white;
	font-weight: 700;
}

.nav-mob, .logo-mob {
	position: absolute;
	display: none;
}
.nav-mob img {width: 40px;}
.logo-mob img {width: 60px;}
.nav-mob {
	left: 20px;
	top: 20px;
}
.logo-mob {
	left: 50%;
	top: 10px;
	margin-left: -30px;
}
.mob-nav {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 94px 20px 20px;
	background: #fff;
	z-index: 260;
	 -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.mob-nav.active {display: block;}
.mob-nav1 {
	right: -100%;
}

.mob-nav .logos{
	position: absolute;
	top: 10px;
	left: 20px;
}

.mob-nav1.active {
	right: 0;
}
.close-mob {
	position: absolute;
	right: 20px;
	top: 20px;
}
.close-mob img {width: 40px;}
.mob-nav-title {
	margin: 0 0 40px;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}
.mob-nav-top {
	padding: 0 0 1px;
	margin: 0 0 35px;
}
.mob-nav li {
	margin: 0 0 12px;
}
.mob-nav a {
	color: #000;
	font-size: 1.8em;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
}
.mob-nav .gold a {color: #b98f55;}
.mob-nav-bottom {
	padding: 60px 0 1px;
	margin: 0 0 35px;
	background: url(../images/nav-dott.png) 0 0 repeat-x;
}
.mob-nav1 ul {padding-left: 0px;
	text-align: center;}
.mob-nav1 .mob-nav-bottom {padding-left: 50px;}
.mob-nav-bottom a {display: inline-block;}
.mob-nav-icon1 a {
	padding: 0 0 0 37px;
	background: url(../images/mob-icon1.png) 0 1px no-repeat;
}
/************************* header top *************************/
.header-nav {
	position: relative;
	z-index: 10;
	height: 60px;
	background: #fff;
}
.logo {
	float: left;
	margin: 0 -4px;
}
.header-nav-holder {
	margin: 0 0 0 245px;
}
.header-nav ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.header-nav li {
	display: table-cell;
	line-height: 60px;
	text-align: center;
}
.header-nav li a {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	 -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.header-nav li a:hover {
	color: #b98f55;
}
.header-nav .nav-gold a {
	height: 41px;
	padding: 0 14px;
	color: #fff;
	line-height: 40px;
	color: #b98f55;
	border: 2px solid #ba9051;
	border-radius: 14px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.header-nav .nav-gold a:hover {
	color: #fff;
	background: #b37f37;
}
/************************* header-banner *************************/
.header-banner {
	height: 423px;
	margin: 0 0 101px;
}
.header-banner1 {
	background: url(../images/media/banner1.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.header-banner2 {
	background: url(../images/media/banner2.jpg) 50% 0 no-repeat;
	background-size: cover;
}
/************************* news *************************/
.main {
	padding: 0 0 54px;
}
/************************* news *************************/
.news-holder {
	overflow: hidden;
	margin: 0 0 93px;
	padding: 0 20px;
}
.news-line {
	overflow: hidden;
}
.news-item {
	position: relative;
	overflow: hidden;
	float: left;
	width: 32%;
	margin: 0 2% 2% 0;
	color: #fff;
	text-decoration: none;
}
.news-item-big {
	width: 32%;
	height: 35vw;
	margin: 0 2% 2% 0;
}

.news-item-big .image{
	height: 25vw;
}

.news-item:nth-child(3n+3) {
	margin-right: 0;
}

.news-item img {
	display: block;
	width: 100%;
	-webkit-backface-visibility: hidden;
	object-fit: cover;
	height: 100%;
}
/*.news-item:after {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*z-index: 5;*/
	/*display: block;*/
	/*content: '';*/
	/*opacity: 0.7;*/
	/*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 *!*/
	/*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); !* FF3.6-15 *!*/
	/*background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
	/*background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); !* IE6-9 *!*/
/*}*/
.news-info {
	display: block;
	padding: 20px 30px 24px;
	color: black;
	font-size: 13px;
	line-height: 25px;
	text-transform: uppercase;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
	font-weight: 700;
}
.all-news {
	float: right;
	width: 32%;
	padding: 42px 0 0;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.all-news-link {color: #ba9051;}
.button-holder {
	text-align: center;
}
.button {
	display: inline-block;
	padding: 19px 34px 16px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: #ba9051;
	border-radius: 15px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.button:hover {
	background: #cf9f58;
}
/************************* article-list *************************/
.article-list-block {margin: 0 0 90px;}
.article-list:after {
	display: block;
	content: '';
	clear: both;
}
.article-item {
	position: relative;
	overflow: hidden;
	float: left;
	width: 32%;
	margin: 0 0 2% 2%;
	color: #fff;
	text-decoration: none;
	height: 34vh;
}
.article-item:nth-child(3n + 1) {
	margin: 0 0 2%;
}
.article-item img {
	display: block;
	width: 100%;
	-webkit-backface-visibility: hidden;
}
.article-item:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	display: block;
	content: '';
	opacity: 0.7;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.article-item-info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	display: block;
	padding: 0 30px 26px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
/************************* winner-category *************************/
.winner-category {
	margin: -10px 0 75px;
	text-align: center;
}
.winner-category-holder {
	position: relative;
}
.winner-category-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 55px;
}
.winner-category-link {
	position: relative;
	padding: 0 24px 0 0;
	color: #ba9050;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	border-bottom: 2px solid #ba9050;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-category-link:hover {border-bottom: 2px solid transparent;}
.winner-category-link:after {
	position: absolute;
	top: 7px;
	right: 0;
	display: block;
	content: '';
	width: 11px;
	height: 6px;
	background: url(../images/golden-arrow2.png) 0 0 no-repeat;
}
.winner-category-link.active {border-bottom: 2px solid transparent;}
.winner-category-hidden {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	padding: 15px 20px 10px 20px;
	font-size: 16px;
	background: #fff;
	border-radius: 0px;
	max-height: 250px;
	overflow: hidden;
}

.mCustomScrollbar{
    padding-right: 10px!important;
}

.item-ony-mobile{
	display: none;
}

.winner-category-hidden li {margin: 0 0 5px;}
.winner-category-hidden a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-category-hidden a:hover {color: #ba9050;}
/************************* winner-brand *************************/
.winner-brand {
	margin: 0 0 80px;
}
.winner-brand-list {
	padding: 0 0 1px;
	margin: 0 0 32px;
	font-size: 0;
}
.winner-brand-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 23.5%;
	margin: 0 0 2% 2%;
	height: 230px;
	border: 1px solid #f5f5f5;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-brand-item:nth-child(4n + 1){margin: 0 0 2%;}
.winner-brand-item:hover {
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.winner-brand-img {
	display: block;
	height: 150px;
	padding: 0 10px;
	margin: 10px 0 0;
	line-height: 150px;
	text-align: center;
}
.winner-brand-img img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.winner-brand-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 30px 20px;
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	font-weight: 700;
}
.load-more {
	text-align: center;
}
.load-more a {
	color: #ba9051;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}
.news-holder .load-more {padding: 50px 0 0;}
/************************* winner-year *************************/
.winner-year {
	margin: 0 0 57px;
	padding: 90px 0 1px;
}
.winner-year-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px 10px 0;
	color: #000;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-year-item:hover {
	color: #ba9050;
	border-bottom: 2px solid #ba9050;
}
.winner-year-item.active {
	font-weight: 700;
}
.winner-year-item.active:hover {
	color: #000;
	border-bottom: 2px solid transparent;
}
/************************* winner-country *************************/
.winner-country {
	padding: 0 0 1px;
	margin: 0 0 70px;
	font-size: 0;
}
.winner-country-item {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0 10px 0 0;
	margin: 0 0 35px;
	font-size: 18px;
	line-height: 25px;
}
.winner-country-item.active {font-weight: 700;}
.winner-country-item a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-country-item a:hover {color: #ba9050;}
.winner-country-flag {
	display: block;
	float: left;
	width: 47px;
}
.winner-country-flag img {
	display: block;
	max-width: 100%;
}
.winner-country-name {
	display: block;
	margin: 4px 0 0 70px;
}
/************************* winner-letter *************************/
.winner-letter {
	padding: 0 0 1px;
	margin: 0 0 54px;
}
.winner-letter-item {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 10px 0;
	color: #000;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-letter-item:hover {
	color: #ba9050;
	border-bottom: 2px solid #ba9050;
}
.winner-letter-item.active {
	font-weight: 700;
}
.winner-letter-item.active:hover {
	color: #000;
	border-bottom: 2px solid transparent;
}
/************************* winner-result *************************/
.winner-result {
	max-width: 640px;
	padding: 0 0 1px;
	margin: 0 0 70px;
	font-size: 0;
	display: none;
}

.winner-result.show{
	display: block;
}

.winner-result-item {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 10px 0 0;
	margin: 0 0 20px;
	font-size: 13px;
	line-height: 20px;
}
.winner-result-item a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.winner-result-item a:hover {
	font-weight: 700;
	border-bottom: 2px solid #ba9050;
}
/************************* article *************************/
.article {
	padding: 0 0 28px;
}
.article-title {
	margin: -30px 0 37px;
	font-size: 20px;
	line-height: 36px;
	text-align: left;
}
.article-logo {
	margin: 0 0 40px;
	text-align: center;
}
.article-slider-block {
	margin: 0 0 33px;
}
.article-slider-block img {max-width: 100%;}
.article-slider {margin: 0 0 20px;}
.article-slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 14px;
	height: 24px;
	margin-top: -12px;
	font-size: 0;
	cursor: pointer;
}
.article-slider .slick-prev {
	left: 40px;
	background: url(../images/arrows3.png) 0 0 no-repeat;
}
.article-slider .slick-next {
	right: 40px;
	background: url(../images/arrows3.png) -14px 0 no-repeat;
}
.slick-thumbs {margin: 0 -10px;}
.slick-thumbs li {
	padding: 0 10px;
	cursor: pointer;
}
.article-video-block {
	padding: 0 0 40px;
	margin: 0 0 27px;
	border-bottom: 1px solid #f0f0f0;
}
.article-video-block iframe {
	width: 100%;
	height: 473px;
}
.article-share {
	margin: 0 0 90px;
	color: #636363;
	font-size: 15px;
}
.article-share-list {
	display: inline-block;
	vertical-align: top;
	margin: -2px 0 0;
	padding: 0 0 0 20px;
}
.article-share-item {margin: 0 9px 0 0;}
.article-bottom {
	overflow: hidden;
	padding: 27px 0 0;
	border-top: 1px solid #f0f0f0;
}
.article-date {
	float: left;
	color: #636363;
	font-size: 15px;
}
.article-bottom .article-share {
	float: right;
}
.no-margin {margin-bottom: 0;}
/************************* how *************************/
.how {
	padding: 0 0 1px;
	margin: 0 0 35px;
}
.how-item {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 0 10px;
	margin: 0 0 80px;
	text-align: center;
}
.how-item:before {
	position: absolute;
	top: -55px;
	left: 50%;
	display: block;
	content: '';
	width: 1px;
	height: 33px;
	background: #d8d8d8;
}
.how-item:first-child:before {display: none;}
.how-icon {
	width: 86px;
	height: 86px;
	margin: 0 auto 20px;
	line-height: 86px;
	text-align: center;
	border-radius: 50%;
	position: relative;
}
.how-icon1 {background: #bfaf96;}
.how-icon2 {background: #747799;}
.how-icon3 {background: #9a7590;}
.how-icon4 {background: #a3bf96;}
.how-icon5 {background: #dfa17c;}
.how-icon6 {background: #80659e;}
.how-icon img {
	vertical-align: middle;
	-webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.how-item.rotate .how-icon img {
	-moz-transform: rotateY(360deg); 
    -ms-transform: rotateY(360deg); 
    -webkit-transform: rotateY(360deg); 
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.how-content {
	text-align: center;
}
.how-float {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	line-height: 25px;
}

.how-top{
	min-height: 80px;
	margin: 0 0 10px;
	font-size: 15px;
	font-weight: 700;
	line-height: 25px;
}

.how-item:nth-child(3n+3) .how-num:after{
	display: none;
}

.how-num{
	position: absolute;
	top: 50%;
	right: -30px;
	margin-top: -13px;
	color: #000000;
	font-size: 15px;
	line-height: 25px;
}

.how-num:after{
	position: absolute;
	top: 10px;
	left: 50px;
	display: block;
	content: '';
	width: 80px;
	height: 2px;
	background: #000000;
}

.how-icon{
	position: relative;
}

.how-icon:after{
	bottom: -100px;
	height: 40px;
	width: 2px;
	background: black;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	content: '';
	display: none;
}

.how-title {
	font-size: 18px;
	font-weight: 700;
}
.grey {color: #a2a2a2;}
.how-text strong {text-transform: uppercase;}
/************************* benefits *************************/
.benefits {
	text-align: center;
}
.benefits-item {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 0 15px;
	margin: 0 0 104px;
}
.benefits-icon {
	width: 86px;
	height: 86px;
	margin: 0 auto 24px;
	line-height: 86px;
	text-align: center;
	border-radius: 50%;
}

.benefits-item:nth-child(1) .benefits-icon{
	background: #bfaf96;
}

.benefits-item:nth-child(2) .benefits-icon{
	background: #6ca9b2;
}

.benefits-item:nth-child(3) .benefits-icon{
	background: #9a7590;
}

.benefits-item:nth-child(4) .benefits-icon{
	background: #a3bf96;
}

.benefits-item:nth-child(5) .benefits-icon{
	background: #dfa17c;
}

.benefits-item:nth-child(6) .benefits-icon{
	background: #80669e;
}

.benefits-item:nth-child(7) .benefits-icon{
	background: #747799;
}

.benefits-icon1 {background: #bfaf96;}
.benefits-icon2 {background: #6ca9b2;}
.benefits-icon3 {background: #9a7590;}
.benefits-icon4 {background: #a3bf96;}
.benefits-icon5 {background: #dfa17c;}
.benefits-icon6 {background: #80669e;}
.benefits-icon7 {background: #747799;}
.benefits-icon img {vertical-align: middle;}
.benefits-text {
	font-size: 15px;
	line-height: 25px;
}
.benefits-text strong {
	display: block;
	font-size: 18px;
}
/************************* package *************************/
.package {
	
}
.subtitle {
	margin: -70px 0 100px;
	font-size: 20px;
	text-align: center;
}
.package-block {
	margin: 0 0 54px;
	font-size: 0;
}
.package-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0 0 0 5%;
	padding: 60px 0 40px;
	color: #fff;
	text-align: center;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.package-item:first-child {margin: 0;}
.package1 {background: #a3bf96;}
.package2 {background: #dfa17c;}
.package3 {background: #80669e;}
@media screen and (min-width: 1024px) {
	.package-item:hover {
		-webkit-transform: scale(1.07);
		-ms-transform: scale(1.07);
		transform: scale(1.07);
	}
}
.package-name {
	margin: 0 0 7px;
	font-size: 35px;
	font-weight: 700;
	line-height: 35px;
}
.package-for {
	margin: 0 0 29px;
	font-size: 16px;
}
.package-price {
	margin: 0 0 44px;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
}
.package-button {
	margin: 0 0 25px;
	font-size: 12px;
}
.package-link {
	font-size: 12px;
	text-transform: uppercase;
}
.package-link a {
	color: #fff;
	text-decoration: none;
}
.package-link a:hover {text-decoration: underline;}
.package-button .button {
    padding: 8px 30px 8px;
	color: #ba9051;
    font-size: 12px;
	background: #fff;
}
.package-button .button:hover {
	background: #fff;
}
.recommend {
	margin-top: -40px;
	padding: 100px 0 60px;
}
.package-bottom-text {
	
	color: #ba9051;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}
.package-bottom-link {
	margin: 0 0 54px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.package-bottom-link a {
	color: #ba9051;
	text-decoration: none;
	border-bottom: 1px solid #ba9051;
}
.package-bottom-link a:hover {border-bottom: 1px solid transparent;}
.package-grey {
	text-align: center;
}
.package-recommend {
	position: absolute;
	top: 45px;
	left: 10px;
	right: 10px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}
/************************* package-line *************************/
.package-line {
	padding: 65px 0 0;
	margin: 0 0 28px;
	border-bottom: 1px solid #f0f0f0;
}
.package-line-holder {
	display: table;
	width: 100%;
	padding: 0 0 75px;
}
.package-line-name {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	font-size: 16px;
	line-height: 30px;
}
.package-line-name span {
	display: block;
	font-size: 35px;
}
.package-line-price {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 700;
}
.package-line-text {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	color: #7f659d;
	font-size: 10px;
	text-transform: uppercase;
}
.package-line-button {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.formError{
	display: none!important;
}

.uSocial-Share{
	float: right;
	position: relative;
	top: -8px;
	margin-left: 20px;
}

.formError+input{
	border: 1px solid red;
}

.package-line-bottom {
	margin: -70px 0 0;
	padding: 0 0 65px;
	font-size: 12px;
	line-height: 20px;
}
/************************* package-info *************************/
.package-info {
	margin: 0 -20px;
}
.package-info-block {
	display: table;
	width: 100%;
	margin-top: -20px;
	border-spacing: 20px;
}
.package-info-item {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
	background: #f6f6f6;
}
.package-info-inner {
	display: inline-block;
	max-width: 360px;
	padding: 0 10px;
	color: #002b42;
	font-size: 20px;
	line-height: 28px;
}
.package-info-item img {
	width: 100%;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.package-info-item img:hover {
	-webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}
.package-reverse {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	margin-top: 0px;
}

.package-reverse .package-info-item{
	order: 1;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	margin: 0 0 20px 20px;
}

.package-reverse .package-info-item:nth-child(1){
	order: 2;
	margin-right: 20px;
}

/************************* brands *************************/
.brands-block {
	font-size: 0;
	text-align: center;
}
.brands-item {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
	padding: 0 20px;
	margin: 0 0 80px;
	text-align: center;
}
/************************* symbol *************************/
.symbol {
	padding: 0 0 1px;
	margin: 0 0 120px;
}
.symbol-top {
	overflow: hidden;
	margin: 0 0 81px;
}
.symbol-top-logo {
	float: left;
	width: 157px;
}
.symbol-top-text {
	margin: 0 0 0 216px;
	font-size: 23px;
	line-height: 38px;
}
.symbol-top-info {
	margin: 0 0 121px;
	font-size: 23px;
	line-height: 38px;
	text-align: center;
}
.symbol-img {
	margin: 0 0 9px;
}
.symbol-img:after {
	display: block;
	content: '';
	clear: both;
}
.symbol-img img {
	width: 100%;
}
.symbol-img-min {
	float: left;
	width: 43.7%;
}
.symbol-img-big {
	float: right;
	width: 79.5%;
	margin: 0 -155px 0 -100px;
}
.symbol-info {
	max-width: 720px;
	margin: 0 auto;
	font-size: 23px;
	line-height: 38px;
	text-align: center;
}
.symbol-info p {margin: 0 0 38px;}
/************************* awards *************************/
.awards-why-text {
	max-width: 880px;
	margin: 0 auto;
	padding: 0 0 131px;
	font-size: 23px;
	line-height: 38px;
	text-align: center;
}
.benefits-big {
	padding: 90px 0 100px;
	background: #f0f0f0;
}
.benefits-big .benefits-item {
    margin: 0;
}
.awards-banner {
	padding: 73px 0 87px;
	color: #fff;
	font-size: 23px;
	line-height: 38px;
	background: url(../images/media/banner3.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.awards-banner2 {
	background: url(../images/media/banner4.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.awards-banner-left {
	float: left;
	max-width: 420px;
}
.awards-banner-right {
	float: right;
	max-width: 420px;
}
/************************* our-winners *************************/
.our-winners {
	padding: 105px 0 0;
}
.our-winners-text {
	max-width: 900px;
	margin: 0 auto 75px;
	color: #636363;
	font-size: 23px;
	line-height: 38px;
	text-align: center;
}
.our-winners .subtitle {
    margin: -70px 0 50px;
    font-size: 20px;
    text-align: center;
}
/************************* map-scheme *************************/
.map-block {
	overflow: hidden;
	padding: 50px 0 150px;
}
.map-scheme {
	float: left;
	width: 100%;
	padding: 0 240px 0 0;
	text-align: center;
}
.map-scheme img {max-width: 100%;}
.map-column {
	float: right;
	width: 140px;
	margin: 0 0 0 -140px;	
}
.map-item {
	margin: 0 0 27px;
	font-size: 18px;
	line-height: 30px;
}
.map-item b {
	display: block;
	font-size: 25px;
}
/************************* academy *************************/
.academy {
	
}
.academy-logo {
	margin: 0 0 70px;
	text-align: center;
}
.academy-text {
	padding: 0 0 50px;
	color: #002b42;
	font-size: 23px;
	line-height: 38px;
}
.academy-text p {margin: 0 0 38px;}
.human-slider {
	margin: 0 0 150px;
}
.human-slide {
	text-align: center;
}
.human-item {
	padding: 0 10px;
	margin: 0 0 65px;
}
.human-photo {
	margin: 0 0 22px;
}
.human-photo img {
	width: 117px;
	height: 117px;
	border-radius: 50%;
}
.slick-slide .human-photo img {display: inline-block;}
.human-text {
	font-size: 13px;
	line-height: 20px;
	height: 60px;
}
.human-text span {
	display: block;
	color: #ba9051;
	font-size: 16px;
}
.slick-dots {
	text-align: center;
}
.slick-dots li {
	display: inline-block;
	margin: 0 9px;
}
.slick-dots button {
	display: block;
	width: 7px;
	height: 7px;
	font-size: 0;
	cursor: pointer;
	background: #dcc7a8;
	border-radius: 50%;
}
.slick-dots .slick-active button {
	background: #ba9051;
}
/************************* quote-block *************************/
.quote-block {
	margin: 0 0 150px;
}
.quote-photo {
	margin: 0 0 22px;
	text-align: center;
}
.quote-photo img {
	width: 117px;
	height: 117px;
	border-radius: 50%;
}
.slick-slide .quote-photo img {display: inline-block;}
.quote-text {
	margin: 0 0 24px;
	font-size: 20px;
	line-height: 35px;
}
.quote-text:before {
	display: inline-block;
	vertical-align: top;
	content: '“';
	font-size: 45px;
}
.quote-text:after {
	display: inline-block;
	vertical-align: top;
	content: '“';
	font-size: 45px;
}
.quote-author {
	font-size: 18px;
	line-height: 30px;
}
.quote-author span {display: block;}
.gold {color: #ba9051;}
.quote-slider .slick-arrow {
	position: absolute;
	top: 55px;
	left: 50%;
	z-index: 10;
	color: #ba9051;
	font-size: 18px;
	cursor: pointer;
}
.quote-slider .slick-prev {margin-left: -134px;}
.quote-slider .slick-next {margin-left: 95px;}
/************************* awards *************************/

.img-to-text{
	width: 300px;
	float: left;
	margin-right: 20px;
}

.subscribe-modal{
	width: 695px;
	height: 574px;
	background-color: #ffffff;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-left: -348px;
	margin-top: -287px;
	border-radius: 10px;
	padding: 35px 75px 55px;
	text-align: center;
	display: none;
}

.subscribe-modal .title{
	color: rgb(0, 0, 0);
	font-size: 25px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 20px;
}

.subscribe-modal img{
	margin-bottom: 30px;
}

.subscribe-modal .text{
	color: rgb(0, 0, 0);
	font-size: 15px;
	font-weight: 400;
	line-height: 24.98px;
	margin-bottom: 30px;
}

.subscribe-modal form{
	width: 330px;
	margin: 0 auto;
}

.subscribe-modal .close{
	position: absolute;
	top: 22px;
	right: 34px;
	cursor: pointer;
}

.subscribe-modal form input.user{
	height: 54px;
	background: url("../images/user-icon.png") no-repeat 24px center, rgb(241, 241, 241);
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	margin-bottom: 20px;
}

.subscribe-modal form input.email{
	height: 54px;
	background: url("../images/email-icon.png") no-repeat 24px center, rgb(241, 241, 241);
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	margin-bottom: 20px;
}

.subscribe-modal form .btn-modal{
	height: 54px;
	background-color: rgb(185, 143, 86);
	color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.28px;
	text-align: center;
	padding: 0 35px;
	border-radius: 15px;
}

@font-face {
	font-family: '4246';
	src: url('../fonts/Modal/4246.eot');
	src: url('../fonts/Modal/4246.eot') format('embedded-opentype'),
	url('../fonts/Modal/4246.woff2') format('woff2'),
	url('../fonts/Modal/4246.woff') format('woff'),
	url('../fonts/Modal/4246.ttf') format('truetype'),
	url('../fonts/Modal/4246.svg#4246') format('svg');
}

@font-face {
	font-family: 'BigCaslonMedium';
	src: url('../fonts/BigCaslon/BigCaslonMedium.eot');
	src: url('../fonts/BigCaslon/BigCaslonMedium.eot') format('embedded-opentype'),
	url('../fonts/BigCaslon/BigCaslonMedium.woff2') format('woff2'),
	url('../fonts/BigCaslon/BigCaslonMedium.woff') format('woff'),
	url('../fonts/BigCaslon/BigCaslonMedium.ttf') format('truetype'),
	url('../fonts/BigCaslon/BigCaslonMedium.svg#BigCaslonMedium') format('svg');
}

.backdoor{
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	display: none;
}

.modal-thank{
	width: 823px;
	height: 688px;
	background: url("../images/bg-modal.png") no-repeat center center/100% 100%;
	position: fixed;
	z-index: 30;
	top: 50%;
	left: 50%;
	margin-left: -412px;
	margin-top: -344px;
	padding: 105px 130px 0;
	text-align: center;
	display: none;
}

.modal-thank img{
	margin-bottom: 20px;
}

.modal-thank .title{
	font-family: '4246';
	color: rgb(0, 0, 0);
	font-size: 103px;
	font-weight: 400;
	line-height: 124.05px;
	letter-spacing: 0.25px;
	margin-bottom: 50px;
}

.modal-thank .text{
	font-family: 'BigCaslon';
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: 500;
	line-height: 32.05px;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
}

.modal-thank .intro{
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 500;
	line-height: 23.51px;
	letter-spacing: 0.31px;
	font-family: 'BigCaslon';
}

/************************* footer *************************/
#footer .holder {max-width: 1300px;}
.footer-block {
	padding: 47px 0;
	border-top: 1px solid #f0f0f0;
}
.footer-block:after {
	display: block;
	content: '';
	clear: both;
}
.footer-block h4 {
	margin: 0 0 14px;
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
	text-transform: uppercase;
}
.footer-signup {
	float: left;
	width: 45%;
	padding: 0 80px 0 0;
}
.footer-signup-text {
	max-width: 270px;
	margin: 0 0 14px;
	color: #636363;
	font-size: 1.5em;
	line-height: 24px;
}
.signup-input-holder {
	float: left;
	width: 100%;
	padding: 0 154px 0 0;
}
.signup-input {
	width: 100%;
	height: 54px;
	padding: 0 24px;
	font-size: 1.2em;
	text-transform: uppercase;
	background: #f0f0f0;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.signup-button {
	float: left;
	width: 140px;
	height: 54px;
	margin-left: -140px;
	color: #ba9051;
	font-size: 1.2em;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid #ba9051;
	border-radius: 15px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.signup-button:hover {
	color: #fff;
	background: #ba9051;
}
.footer-contact {
	float: left;
	width: 25%;
}
.footer-contact-phone {
	margin: 0 0 15px;
	font-size: 20px;
	line-height: 24px;
}
.footer-contact-phone a {
	color: #636363;
	text-decoration: none;
}
.footer-contact-text {
	font-size: 1.5em;
	line-height: 24px;
}
.footer-webs {
	float: right;
}
.footer-webs-holder {
	overflow: hidden;
	padding: 8px 0 0;
}
.footer-web {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 6px 6px 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.footer-web:hover {opacity: 0.8;}
.footer-webs-holder {max-width: 150px;}
.web1 {background: url(../images/webs.png) 0 0 no-repeat;}
.web2 {background: url(../images/webs.png) -40px 0 no-repeat;}
.web3 {background: url(../images/webs.png) -80px 0 no-repeat;}
.web4 {background: url(../images/webs.png) 0 -40px no-repeat;}
.web5 {background: url(../images/webs.png) -40px -40px no-repeat;}
.web6 {background: url(../images/webs.png) -80px -40px no-repeat;}
.footer-nav {
	padding: 36px 0 20px;
	text-align: center;
	border-top: 1px solid #f0f0f0;
}
.footer-nav ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.footer-nav li {
	display: table-cell;
	text-align: center;
}
.footer-nav li:first-child {
	width: 8%;
	text-align: left;
}
.footer-nav li:last-child {
	width: 12%;
	text-align: right;
}
.footer-nav li a {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	 -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.footer-nav li a:hover {
	color: #b98f55;
}
.footer-nav .gold a {
	height: 41px;
	padding: 0 14px;
	color: #fff;
	line-height: 40px;
	color: #b98f55;
	border: 2px solid #ba9051;
	border-radius: 14px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.footer-nav .gold a:hover {
	color: #fff;
	background: #b37f37;
}

.footer-copy {
	padding: 36px 0 24px;
	background: #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
}
.copy a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #d1cac1;
}
.copy a:hover {border-bottom: 0;}
.footer-copy-bottom {
	padding: 22px 0 0;
	font-size: 12px;
	line-height: 24px;
}
.footer-copy-flag {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
#hidden-block {
	display: none;
	width: 350px;
	padding: 10px;
	font-size: 1.4em;
	line-height: 20px;
}
#hidden-block h2 {
	font-size: 2.4em;
	margin: 0px 0px 10px;
	text-align: center;
}
/************************* popups *************************/
/*********************** main page popup styles ************************/
.popup {
	display: none;
	width: 900px;
	padding: 45px 50px 50px;
}
.popup .input {font-size: 15px;}
.popup .popup-title {
    margin: 0 0 28px;
    color: #000;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: none;
}
.popup-text {
	margin: 0 0 28px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.popup-check {
	padding: 10px 0 0;
	text-align: center;
}
.popup-check .check-block {display: inline-block;}
.form-button {
	max-width: 200px;
	margin: 0 auto;
}
.form-col {
	float: left;
	width: 49.3%;
}
.form-col-right {
	float: right;
}
.form-link-min {
	font-size: 1.4em;
	line-height: 48px;
}
.form-link-min a {color: #000;}
.login-register {
	overflow: hidden;
	margin: 0 0 30px;
}
.login-register-text {
	margin: 0 0 51px;
	font-size: 1.8em;
	line-height: 24px;
}

.bg-slider{
	position: relative;
	top: -100px;
	height: 670px;
	overflow: hidden;
}

.main{
	clear: both;
}

.bg-slider img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg-slider .item{
	height: 670px;
}

.bg-slider.bg-slider-mini{
	height: 423px;
}

.bg-slider.bg-slider-mini .item{
	height: 423px;
}

.slide-bg-left{
	position: absolute;
	width: 23px;
	height: 43px;
	background: url("../images/arrows-main.png") no-repeat left top;
	cursor: pointer;
	left: 20px;
	top: 50%;
	margin-top: -21px;
	z-index: 2;
}

.slide-bg-right{
	position: absolute;
	width: 23px;
	height: 43px;
	background: url("../images/arrows-main.png") no-repeat right top;
	cursor: pointer;
	right: 20px;
	top: 50%;
	margin-top: -21px;
	z-index: 2;
}

.article-slide{
	height: 400px;
	text-align: center;
}

.text-center{
	text-align: center;
}

.text-center img{
	margin-bottom: 20px;
}

.article-slide img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.help-modal{
	width: 456px;
	height: 376px;
	border-radius: 15px;
	background-color: #ffffff;
	margin-left: -228px;
	margin-top: -188px;
}

.help-modal form{
	width: 100%;
}

.help-modal form input.error{
	border: 1px solid red;
}

.help-modal form input.phone{
	height: 54px;
	background: url("../images/phone-icon.png") no-repeat 24px center, rgb(241, 241, 241);
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	margin-bottom: 20px;
}

.help-main{
	font-size: 20px;
	margin-bottom: 10px;
}

.news-item-min .image{
	height: 250px;
}

@media screen and (max-width: 960px) {
	.popup {
		width: 700px;
		padding: 45px 50px 50px;
	}
}
@media screen and (max-width: 767px) {
	.popup {
		width: 300px;
		padding: 15px 10px 10px;
	}
	.form-col {
		float: none;
		width: 100%;
	}
}

/************************* media *************************/
@media screen and (max-width: 1400px) {
	.header-top-right li {margin: 0 0 0 20px;}
	.header-top-right li:first-child {margin: 0;}
	.header-nav-holder {margin: 0 0 0 245px;}
}
@media screen and (max-width: 1260px) {
	.header-top-right li {margin: 0 0 0 10px;}
	.header-top-right li:first-child {margin: 0;}
	.header-top-left {padding: 0 0 0 10px;}
	.header-nav-holder {margin: 0 0 0 230px;}
}
@media screen and (max-width: 1180px) {
	.header-top-left li {margin: 5px 25px 0 0;}
}
@media screen and (max-width: 1100px) {
	.header-top-left li {margin: 5px 10px 0 0;}
}
@media screen and (max-width: 1023px) {
	.logo img {width: 212px;}
	.header-nav-holder {margin: 0 0 0 210px;}
	.header-top-right {padding: 5px 0 0;}
}
@media screen and (max-width: 980px) {
	.fixed-scroll-top.fixed {display: none;}
	.fixed-top {display: none;}
	.fixed-top.inner-page {display: block;}
	.header-mob {
		display: block;
		z-index: 50;
	}
	.geo-mob, .nav-mob, .logo-mob {
		display: block;
		z-index: 50;
	}

	.nav-mob{
		border: 1px solid white;
		font-size: 14px;
		padding: 5px 10px;
		color: white;
		font-weight: 700;
		border-radius: 25px;
		text-decoration: none;
	}

	.news-item-big{
		height: auto;
	}

	.nav-mob img{
		width: 30px;
	}
	.header-top {display: none;}
	.header-nav {display: none;}
	.header-main {height: 590px;}
	.header-main .holder {height: 590px;}
	.header-slider {
		width: 100%;
		height: 590px;
	}
	.header-slider li{
		height: 590px;
	}
	.header-slider li img {width: 100%;}
	.news-info {padding: 17px 15px 19px;}
	.news-info-title {
		padding: 0 0 14px;
		font-size: 1.5em;
		line-height: 17px;
		border-bottom: 1px solid #fff;
	}
	.news-info-text {
		padding: 18px 0 0;
		font-size: 1.2em;
		line-height: 14px;
	}
	.signup-input-holder {padding: 0 106px 0 0;}
	.signup-button {
		width: 96px;
		margin-left: -96px;
	}
	.footer-webs-holder {margin: 0 auto;}
	.footer-web {
		float: none;
		display: inline-block;
		margin: 0 2px 6px;
	}
	.footer-nav {display: none;}
	.news-item-big {
		width: 49%;
		margin: 0 2% 2% 0;
	}

	.news-item-big .image{
		height: 60vw;
	}

	.news-item:nth-child(3n+3) {
		margin-right: 2%;
	}

	.news-item:nth-child(2n+2) {
		margin-right: 0;
	}
}
@media screen and (max-width: 960px) {
	.brands-item {
		width: 50%;
		margin: 0 0 40px;
	}

	.mob-nav-phone a{
		font-size: 26px;
		text-align: center;
		font-weight: 400;
		border:1px solid #b68f4d;
		padding: 20px 0;
		display: block;
		border-radius: 35px;
		margin: 30px 20px 0;
	}

	.mob-nav-phone a i{
		display: inline-block;
		margin-right: 10px;
		background: url("../images/phone-mobile.png") no-repeat;
		width: 23px;
		height: 23px;
	}

	.brands-item img{
		max-width: 100%;
	}
	.header-banner {margin: 0 0 51px;}
	h1,	h2 {
		margin: 0 0 41px;
		font-size: 30px;
		line-height: 36px;
	}
	.our-winners .subtitle {margin: -30px 0 40px;}
	.subtitle {margin: -30px 0 40px;}
	.awards-why-text {
		padding: 0 0 51px;
		font-size: 18px;
		line-height: 24px;
	}
	.awards-banner {
		padding: 50px 0;
		font-size: 18px;
		line-height: 24px;
	}
	.our-winners {padding: 55px 0 0;}
	.our-winners-text {
		margin: 0 auto 55px;
		font-size: 18px;
		line-height: 24px;
	}
	.brands-item {
		width: 50%;
		margin: 0 0 40px;
	}
	.benefits-big {padding: 50px 0 50px;}
	.benefits-item {margin: 0 0 44px;}
	.map-block {padding: 50px 0 70px;}
	.academy-logo {margin: 0 0 50px;}
	.academy-logo img {max-width: 100%;}
	.academy-text {
		padding: 0 0 50px;
		font-size: 18px;
		line-height: 24px;
	}
	.academy-text p {margin: 0 0 24px;}
	.human-slider {margin: 0 0 70px;}
	.human-item {margin: 0 0 35px;}
	.quote-text {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 24px;
	}
	.quote-author {
		font-size: 16px;
		line-height: 24px;
	}
	.quote-block {margin: 0 0 70px;}
	.slick-dots li {margin: 0 4px;}
	.slick-dots button {
		width: 15px;
		height: 15px;
	}
	.package {padding: 50px 0 0;}
	.package-block {padding: 30px 0 0;}
	.article-title {margin: 0 0 37px;}
	.article-share {margin: 0 0 60px;}
	.symbol {margin: 0 0 70px;}
	.symbol-top-text {
		margin: 0 0 0 206px;
		font-size: 18px;
		line-height: 30px;
	}
	.symbol-top-info {
		margin: 0 0 61px;
		font-size: 18px;
		line-height: 30px;
	}
	.symbol-top {margin: 0 0 51px;}
	.symbol-info {
		font-size: 18px;
		line-height: 24px;
	}
	.symbol-info p {margin: 0 0 24px;}
	.symbol-img-min {
		width: 42%;
	}
	.symbol-img-big {
		width: 76%;
		margin: 0 -75px 0 -100px;
	}
	.winner-brand-item {
		width: 32%;
		margin: 0 0 2% 2%;
	}
	.winner-brand-item:nth-child(4n + 1){margin: 0 0 2% 2%;}
	.winner-brand-item:nth-child(3n + 1){margin: 0 0 2%;}
	.winner-category {margin: 0px 0 55px;}
	.winner-country-item {width: 33%;}
}
@media screen and (max-width: 767px) {
	.header-banner {height: 300px;}
	.fixed-bot {display: none;}
    .how-item{
        width: 100%;
    }

    .how {
        max-width: 360px;
        margin: 0 auto;
    }

	.news-item:nth-child(3n+3) {
		margin-right: 0;
	}


	.news-item {
		display: block;
		float: none;
		width: auto;
		margin: 0 0 7px;
	}

    .how-num:after{
        display: none;
    }

	.news-item:first-child {margin: 0 0 7px;}
	.news-item-big {
		width: auto;
		margin: 0 0 7px;
		max-height: none;
	}
	.news-item img {
		width: 100%;
	}
	.news-line-hide {display: none;}
	.all-news {
		float: none;
		width: auto;
		padding: 15px 0 0;
		font-size: 14px;
		text-align: center;
	}
	.news-holder {
		overflow: hidden;
		margin: 0 0 46px;
	}
	.footer-block {padding: 47px 0 0;}
	.footer-signup {
		float: none;
		width: auto;
		max-width: 360px;
		margin: 0 auto;
		padding: 0 0 27px;
	}
	.footer-signup-text {
		margin: 0 auto 14px;
		text-align: center;
	}
	.footer-signup h4 {text-align: center;}
	.footer-webs {
		float: none;
		width: auto;
		height: auto;
		text-align: center;
		padding: 25px 20px 0;
	}
	.footer-contact {
		float: none;
		width: auto;
		text-align: center;
		padding: 35px 10px 1px;
	}
	.footer-contact-phone {
		float: none;
		width: auto;
		margin: 0 0 26px;
	}
	.footer-contact-text {
		float: none;
		width: auto;
		margin: 0 0 33px;
		text-align: center;
	}
	.benefits-item {width: 100%;}
	.benefits-big .benefits-item {margin: 0 0 40px;}
	.benefits-big {padding: 50px 0 10px;}
	.map-scheme {
		float: none;
		width: auto;
		padding: 0;
	}
	.map-column {
		float: none;
		width: auto;
		margin: 0;	
		padding: 34px 0 0;
		text-align: center;
	}
	.package-block {
		max-width: 400px;
		margin: 0 auto 24px;
	}
	.package-item {
		width: 100%;
		margin: 0 0 15px;
		padding: 40px 0 30px;
	}
	.package-item:first-child {margin: 0 0 15px;}
	.package-bottom-text {
		margin: 0 0 24px;
		font-size: 18px;
	}
	.package-bottom-link {
		margin: 0 0 34px;
		font-size: 16px;
	}
	.package-recommend {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		margin: 0 0 15px;
	}
	.how {
		max-width: 360px;
		margin: 0 auto;
	}

	.how-item:before {left: 43px;}
	.article-title {
		font-size: 18px;
		line-height: 27px;
	}
	.article-slider {margin: 0 0 8px;}
	.slick-thumbs {margin: 0 -4px;}
	.slick-thumbs li {padding: 0 4px;}
	.article-bottom .article-share {
		float: left;
		clear: left;
		padding: 10px 0 0;
	}
	.package-info {margin: 0 -10px;}
	.package-info-block {
		margin: -10px 0 0;
		border-spacing: 10px;
	}
	.package-info-inner {
		font-size: 18px;
		line-height: 24px;
	}
	.winner-category-item {
		display: block;
		margin: 0 0 30px;
		text-align: center;
	}
	.winner-category-holder {display: inline-block;}
	.winner-brand-item {
		width: 48%;
		margin: 0 0 4% 4%;
	}
	.winner-brand-item:nth-child(4n + 1){margin: 0 0 4% 4%;}
	.winner-brand-item:nth-child(3n + 1){margin: 0 0 4% 4%;}
	.winner-brand-item:nth-child(2n + 1){margin: 0 0 4%;}
	.article-video-block iframe {
		height: 360px;
	}
	.article-item {
		width: 48%;
		margin: 0 0 4% 4%;
	}
	.article-item:nth-child(3n + 1){margin: 0 0 4% 4%;}
	.article-item:nth-child(2n + 1){margin: 0 0 4%;}
	.winner-country-item {width: 50%;}
}
@media screen and (max-width: 640px) {
	.inner-page .fixed-nav li {margin: 0 0 0 20px;}
	.inner-page .fixed-nav li:first-child {margin: 0;}
	.modal-thank{
		width: 90%;
		left: 5%;
		margin-left: 0;
		background: white;
		padding: 30px;
	}
	.package-line {
		padding: 55px 0 0;
		margin: 0 0 28px;
		text-align: center;
	}
	.package-line-holder {
		display: block;
		width: auto;
		padding: 0 0 35px;
	}
	.package-line-name {
		display: block;
		width: auto;
		margin: 0 0 20px;
	}
	.package-line-price {
		display: block;
		width: auto;
		margin: 0 0 20px;
	}
	.package-line-text {
		display: block;
		width: auto;
		margin: 0 0 20px;
	}
	.package-line-button {
		display: block;
		width: auto;
		text-align: center;
	}
	.package-line-bottom {
		margin: -20px 0 0;
		padding: 0 0 35px;
	}
	.symbol-top-logo {
		float: none;
		width: 194px;
		margin: 0 auto 30px;
	}
	.symbol-top-text {
		margin: 0;
		line-height: 24px;
	}
	.symbol-top-info {
		line-height: 24px;
	}

	.subscribe-modal{
		width: 90%;
		margin-left: 0;
		left: 5%;
		padding: 30px;
	}

	.subscribe-modal .title{
		font-size: 16px;
		line-height: 22px;
	}
}
@media screen and (max-width: 560px) {
	.header-main {height: 500px;}
	.header-main .holder {height: 500px;}
	.header-slider {
		width: 100%;
		height: 500px;
	}

	.header-slider li{
		height: 500px;
	}
	.caption {
		bottom: 20px;
		left: 50%;
		width: 280px;
		margin-left: -140px;
		padding: 16px 5px 12px;
		text-align: center;
	}
	.caption-white {
		margin: 0;
		font-size: 14px;
	}
	.caption-big {
		margin: 0;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0;
	}
	.caption-min {
		margin: -5px 0 0;
		font-size: 11px;
		letter-spacing: 0;
	}
	.caption-point {
		display: inline-block;
		padding: 0 0 0 15px;
		margin: 0 0 0 12px;
		background: url(../images/point.png) 0 11px no-repeat;
	}
	.package-info-inner {
		font-size: 14px;
		line-height: 22px;
	}
	.symbol-img-min {
		width: 42%;
	}
	.symbol-img-big {
		width: 76%;
		margin: 0 -45px 0 -100px;
	}
	.article-item {
		width: 100%;
		margin: 0 0 15px;
	}
	.article-item:nth-child(3n + 1){margin: 0 0 15px;}
	.article-item:nth-child(2n + 1){margin: 0 0 15px;}
	.winner-country-item {width: 100%;}
	.winner-result-item {width: 100%;}
}
@media screen and (max-width: 479px) {
	.package-info-block {
		display: block;
		width: auto;
		margin: 0;
	}
	.package-info-item {
		display: block;
		width: auto;
	}
	.package-info-inner {
		display: block;
		padding: 20px 10px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 24px;
	}
	.winner-brand-item {
		width: 100%;
		margin: 0 0 15px;
	}
	.winner-brand-item:nth-child(4n + 1){margin: 0 0 15px;}
	.winner-brand-item:nth-child(3n + 1){margin: 0 0 15px;}
	.winner-brand-item:nth-child(2n + 1){margin: 0 0 15px;}
	.article-video-block iframe {
		height: 300px;
	}
	.how {
		max-width: 300px;
	}
}
@media screen and (max-width: 420px) {
	body {overflow-x: hidden;}
	.footer-signup, .footer-contact, .copy, .human-slider{
		display: none!important;
	}

	.fancybox-wrap, .fancybox-skin{
		position: fixed!important;
	}

	.main{
		padding-bottom: 20px;
	}

	.footer-block{
		padding-top: 0;
	}

	.footer-block h4{
		margin-bottom: 0;
	}

	.footer-copy{
		padding-top: 0;
	}

	.bg-slider{
		display: none!important;
	}

	.main{
		padding-top: 110px;
	}

	#join_us textarea{
		display: none;
	}

	.mob-nav-phone a{
		font-size: 16px;
	}

	.fancybox-wrap{
		top: 0!important;
		left: 0!important;
		width: 100%!important;
		height: 100%!important;
	}

	.fancybox-skin{
		border-radius: 0!important;
		width: 100%!important;
	}

	.popup{
		width: 100%;
	}

	.fancybox-close{
		top: 0!important;
		right: 0!important;
	}

	.fancybox-inner{
		width: 100%!important;
		height: 100%!important;
	}

	.how-icon:after{
		display: block;
	}
	.modal-thank .title{
		font-size: 48px;
		margin-bottom: 15px;
	}

	.bg-slider{
		height: 400px;
	}

    .slide-bg-right, .slide-bg-left{
        top: 70%;
    }

	.bg-slider .item{
		height: 400px;
	}

	.subscribe-modal img{
		display: none;
	}

	.subscribe-modal form{
		width: 100%;
	}

	.bg-slider-index{
		display: none!important;
	}

	.item-ony-mobile{
		height: 400px;
		margin-bottom: 30px;
		display: block;
		margin-top: -110px;
	}

	.item-ony-mobile img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.help-block-error{
	display: none;
}

.has-error input[type=text]{
	border: 1px solid red;
}



/************************* table styles *************************/
.table-block {
	overflow-x: auto;
	padding: 0 0 20px;
	margin: 0 0 30px;
}
.table-block table {
	width: 100%;
	min-width: 600px;
	border-collapse: collapse;
}
.table-block th {
	padding: 10px 10px 15px;
	color: #b68f4d;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	border-right: 1px solid #b68f4d;
	border-bottom: 1px solid #b68f4d;
}
.table-block td {
	width: 15%;
	padding: 14px 10px 14px;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	border-right: 1px solid #b68f4d;
}
.table-block td:first-child {
	width: auto;
	padding: 14px 10px 14px 20px;
	text-align: left;
}
.table-block tr:nth-child(2) td {
	padding: 24px 20px 14px;
}
.table-block td.gap,
.table-block th.gap,
.table-block tr:nth-child(2) td.gap {
	width: 24px;
	padding: 0;
	box-sizing: border-box;
	border-right: 0;
	border-bottom: 0;
}
.table-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
}
.table-block .table-bottom td {
	padding: 9px 10px 11px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	background: #b68f4d;
}
.table-block .table-bottom td:first-child {
	padding: 9px 10px 11px 20px;
	border-radius: 14px 0 0 14px;
}
.table-block .table-bottom td:last-child {
	border-radius: 0 14px 14px 0;
	border-right: 0;
}
@media screen and (max-width: 767px) {
	.table-block td {
		width: 10%;
		font-size: 14px;
		line-height: 24px;
	}
	.table-block td:first-child {
		width: auto;
	}
	.table-block th, .table-block .table-bottom td {font-size: 16px;}
}